<img src="https://4.bp.blogspot.com/-wP2ywgKsVf4/U4KKetCv7zI/AAAAAAAAN38/N4pPxKQKxUc/s1600/jogo+da+velha+7+-+Cria%C3%A7%C3%A3o+Blog+PNG+Free.png" class="jogo">
<div><button (Click)="div1" class="botao">aperte</button></div>
<div><button class="botao2">aperte</button></div>
<div><button class="botao3">aperte</button></div>
<div><button class="botao4">aperte</button></div>
<div><button class="botao5">aperte</button></div>
<div><button class="botao6">aperte</button></div>
<div><button class="botao7">aperte</button></div>
<div><button class="botao8">aperte</button></div>
<div><button class="botao9">aperte</button></div>